<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065858349488-cjhekmcq2bcqjhgmogmpjckassmj2r20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065858349488-cjhekmcq2bcqjhgmogmpjckassmj2r20</string>
	<key>API_KEY</key>
	<string>AIzaSyBlo8skvMQjmzLFjY_fuh2kB1Joq6k3hGo</string>
	<key>GCM_SENDER_ID</key>
	<string>1065858349488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virtualFurnishApp</string>
	<key>PROJECT_ID</key>
	<string>virtualfurnish-93c69</string>
	<key>STORAGE_BUCKET</key>
	<string>virtualfurnish-93c69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065858349488:ios:2b9bad54f467c80af1be75</string>
</dict>
</plist>